body {
	--bg-color: #d6d6b1;
	--txt-color: #1a1b26;
	--highlight-color: #1f2335;
	--alt-color: #ff9e64;

	--gap-size: 2%;
	--border-rad: 25px;

	background-color: var(--bg-color);
	color: var(--txt-color);

	margin: 0;
	/* display: flex; */
	place-items: center;
	min-width: 100%;
	min-height: 100%;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 2em;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	margin: 0;
	list-style-type: none; /* Remove bullets */
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin: 0;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--alt-color);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* Layout */
:root {
	width: 100%;
}

#dashboard {
	width: 100vw;
	display: inline-flex;
}

#past {
	width: 50%;
	margin: var(--gap-size);
}

#future {
	width: 40%;
	margin: var(--gap-size);
	margin-left: 0;
}

/* Past elements*/
#map-container {
	width: 100%;
	height: 60vh;
	border: none;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.graph {
	width: 100%;
	/* height: 40vh; */
}

/* Future elements*/
.card {
	width: 100%;
	/* aspect-ratio: 1.5; */
	margin: var(--gap-size);
	border-radius: var(--border-rad);
	padding: var(--gap-size);
	background-image: linear-gradient(180deg, #ef5b5b, #239a5a, #5e574d);
}

.card_content {
	border-radius: var(--border-rad);
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.card_content h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.card_content > div {
	border-radius: var(--border-rad);
	width: 100%;
	height: 100%;
}

.card_content > img {
	border-radius: var(--border-rad);
	width: 100%;
	height: 100%;
}

.card_content canvas {
	border-radius: 17px;
	height: 100%;
}

form {
	display: flex;
	justify-content: space-evenly;
	row-gap: var(--gap-size);
}

select {
	display: inline-block;
	font-size: 0.5em;
	width: 30%;
	text-align: center;
	border-radius: 0;
	height: 50px;
	background-color: #ef5b5b;
}

input {
	font-size: 0.5em;
	background-color: #ef5b5b;
}
